html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%), no-repeat;
}

.container {
  background-color: #FFFFFF;
  max-width: 350px;
  width: 100%;
  margin: 10em auto 0;
  padding: 3em 1.5em 3em;
  border-radius: 10px;
}

.hero-container {
  position: relative;
}

.hero-pattern-mobile {
  position: absolute;
  top: -40px;
  left: 27px;
}

.hero-woman-mobile {
  position: absolute;
  top: -155px;
  right: 32px;
}

.hero-pattern-desktop,
.hero-illustration-box,
.hero-woman-desktop {
  display: none;
}

.accordion-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 3em;
}

.accordion-panel {
  border-bottom: solid .5px #979797;
  padding: 1em 0;
}

.accordion {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  width: 100%;
  transition: .4s;
}

.accordion:hover {
  color: #F47B56;
}

.accordion:hover,
.accordion:focus {
  cursor: pointer;
}

.accordion.active {
  font-weight: 700;
}

.panel-arrow {
  margin-left: auto;
}

.panel-arrow.active {
  transform:rotate(180deg)
}

.panel {
  margin: 1em 0 0;
  display: none;
  
}

.panel-text {
  font-size: .75rem;
  max-width: 250px;
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .container {
    max-width: 920px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 4em;
    overflow: hidden;
  }

  .hero-container {
    width: 100%;
  }

  .hero-pattern-mobile,
  .hero-woman-mobile {
    display: none;
  }

  .hero-pattern-desktop,
  .hero-illustration-box,
  .hero-woman-desktop {
    display: block;
}

  .hero-pattern-desktop {
    width: 180%;
    position: absolute;
    right: 100px;
    top: -280px;
  }

  .hero-woman-desktop {
    width: 100%;
    position: absolute;
    right: 100px;
    top: -15px;
  }

  .hero-illustration-box {
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 380px;
  }
  
  .accordion-section {
    width: 100%;
  }

  .accordion-title {
    text-align: left;
    margin-top: 0;
  }

  .accordion {
    text-align: left;
  }

  .accordion-panel {
    width: 75%;
  }

  .panel-text {
    max-width: 319px;
  }
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-weight: 700;
  }

.attribution a {
    color: #F47B56;
  }