html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%), no-repeat;
}

.container {
  background-color: #FFFFFF;
  max-width: 327px;
  width: 100%;
  margin: 10em auto 0;
  padding: 3em 1.5em 3em;
  border-radius: 10px;
}

.hero-container {
  position: relative;
}

.hero-shadow {
  position: absolute;
  top: -40px;
  left: 20px;
}

.hero-image {
  position: absolute;
  top: -155px;
  right: 21px;
}

.accordion-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 3em;
}

.accordion {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  width: 100%;
  transition: .4s;
  border-bottom: solid .5px #979797;
  padding: 2em 0;
}

.accordion:hover,
.accordion:focus {
  color: #F47B56;
  cursor: pointer;
}

.panel-arrow {
  margin-left: auto;
}

.panel {
  margin: 1em 0;
  display: none;
}

.panel-text {
  font-size: .75rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-weight: 700;
  }

.attribution a {
    color: #F47B56;
  }